.leaflet-marker-icon {
  -webkit-transition: all 3s ease-out;
  -moz-transition: all 3s ease-out;
  -o-transition: all 3s ease-out;
  transition: all 3s ease-out;

  width: 20px!important;
  height: 20px!important;
  border-radius: 15px;
  border: 1px solid #FFF;
  background-color: #FFF;
}

.leaflet-marker-icon:hover {
  background-color: orangered;
}